@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import "tailwindcss";
.h-text {
  font-style: normal;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.p-text {
  font-family: "Poppins", sans-serif;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.p-te {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}
.animate-scroll {
  animation: scroll 20s linear infinite;
  display: inline-flex;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
.animate-scroll-3 {
  animation: scroll 10s linear infinite;
  display: inline-flex;
}

.animate-scroll-3:hover {
  animation-play-state: paused;
}
.animate-scroll-2 {
  animation: scroll 25s linear infinite;
  display: inline-flex;
}

.animate-scroll-2:hover {
  animation-play-state: paused;
}
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-700 {
  transition-duration: 700ms;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
